@model AddAlbumModel
@{
}
<h1>Add Album</h1>

@using (Html.BeginForm("Add", "Album", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div id="title-section" class="mb-3">
        @Html.LabelFor(m => m.Title, new { CssClass = "form-label" })
        @Html.TextBoxFor(m => m.Title, new { CssClass = "form-control" })
    </div>
    <div class="mb-3">
        @Html.LabelFor(m => m.Artist, new { CssClass = "form-label" })
        @Html.TextBoxFor(m => m.Artist, new { CssClass = "form-control" })
    </div>
    <div class="mb-3">
        <label for="image">Image</label>
        <input type="file" id="image" name="image" class="form-control">
    </div>
    <div class="mb-3">
        <img id="preview" width="300px" height="300px" src="#" alt="Preview image" />
    </div>
        <div class="mb-3">
            <input type="submit" value="Add" class="btn btn-primary" />
        </div>
        }

        @*
            //preview at front end

                        <input type="file" id="url" name="url" />
        *@

    <script>

        $(function () {

            function previewImage(input) {

                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('#preview').attr('src', e.target.result);
                    }

                    reader.readAsDataURL(input.files[0]);
                }
            }

            $("#image").change(function () {
                previewImage(this);
            });

        });

    </script>

